
.icon-home:before { content: '\e800'; } /* '' */
.icon-bus:before { content: '\e801'; } /* '' */
.icon-euro:before { content: '\e802'; } /* '' */
.icon-heartbeat:before { content: '\e803'; } /* '' */
.icon-graduation-cap:before { content: '\e804'; } /* '' */
.icon-newspaper:before { content: '\e805'; } /* '' */
.icon-soccer-ball:before { content: '\e806'; } /* '' */
.icon-chat:before { content: '\e807'; } /* '' */
.icon-users:before { content: '\e808'; } /* '' */
.icon-globe:before { content: '\e809'; } /* '' */
.icon-star:before { content: '\e80a'; } /* '' */
.icon-building-filled:before { content: '\e80b'; } /* '' */
.icon-spin3:before { content: '\e80c'; } /* '' */
.icon-book:before { content: '\e80e'; } /* '' */
.icon-forward:before { content: '\e80f'; } /* '' */
.icon-beaker:before { content: '\e810'; } /* '' */
.icon-thumbs-up-alt:before { content: '\e811'; } /* '' */
.icon-suitcase:before { content: '\e812'; } /* '' */