<div class="card col-md-6">
			<div class="card--body card--body_xl">
			<div class="card--body--title card--body--title_primary">
				<div class="card--tag icon-home"> Accueil </div>
				<h2>Avec L'INDEX : mettez le doigt sur l’info !</h2>
			</div>
			<div class="card--body--description">
			
					<div class = "row">

							<div class = "col-md-6">
								<p class = "lead">
Un portail pour accéder rapidement, en 1 clic, à un ensemble d'informations sur les grandes thématiques de la vie étudiante.
</p>
<img src="/images/logo-crous-um.svg" />
							</div>
								

							<div class = "col-md-6">
<p>
	L'INDEX vous propose une sélection d’informations pratiques dans de nombreux domaines que vous pouvez consulter sur place, vous envoyer par mail ou imprimer selon vos besoins.
</p>

<p>
Et comme vous n’êtes sûrement pas le seul à chercher des réponses, pensez à transmettre ! Ce portail vous permet de partager en temps réel sur les réseaux sociaux vos découvertes et vos bons plans.
	</p>

	<p class = "lead">
Cherchez. Trouvez. Diffusez !
	</p>
							</div>

					</div>

 
			</div>			  
			</div>
		</div>