
.icon-link:before { content: '\e800'; } /* '' */
.icon-euro:before { content: '\e801'; } /* '' */
.icon-bank:before { content: '\e802'; } /* '' */
.icon-chat-empty:before { content: '\e803'; } /* '' */
.icon-soccer-ball:before { content: '\e804'; } /* '' */
.icon-book:before { content: '\e805'; } /* '' */
.icon-briefcase:before { content: '\e806'; } /* '' */
.icon-bus:before { content: '\e807'; } /* '' */
.icon-food:before { content: '\e808'; } /* '' */
.icon-home:before { content: '\e809'; } /* '' */
.icon-forward:before { content: '\e80a'; } /* '' */
.icon-users:before { content: '\e80b'; } /* '' */